navbar
    background $accent
    display block
    height 60px
    left 0
    position fixed
    top 0
    width 100%
    .navbar
        &__left
            left 0
            position absolute
            top 0
        &__center
            display table
            margin 0 auto
        &__right
            position absolute
            right 0
            top 0
        &__navicon
            color $font_l
            font-size 40px
            height 60px
            line-height 60px
            width 60px
        &__title
            color $font_l
            font-size 20px
            height 60px
            line-height 60px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            width 200px
        &__help-button
            color $font_l
            font-size 32px
            height 60px
            line-height 60px
            width 80px