<!DOCTYPE html>
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title バスナビ！
link(rel="stylesheet", href="//fonts.googleapis.com/earlyaccess/roundedmplus1c.css")
link(rel="stylesheet", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
link(rel="stylesheet", href="/css/style.css")

body

    page

    script(src="./js/bundle.min.js")