/**
 * 要素固有のスタイルをキャンセルする
 */
html, body, div, p, span, ul, ol, li,
h1, h2, h3, h4, h5, h6
    margin 0
    padding 0

body
    font-family 'Rounded Mplus 1c', serif
    font-weight 500

h1, h2, h3, h4, h5, h6
    font-size 1px
    font-weight normal

ul, ol
    list-style-type none

button, input, textarea
    background none
    border none
    font-family 'Hannari', serif
    outline none